body {
  background-color: #333;
}

h2 {
  text-align: center;
  margin-top: 3rem;
  color: #fff;
}

.about {
  border: 1px solid #33c3f0;
  border-radius: 10px;
  margin-top: 7rem;
}
h3 {
  margin-top: 3rem;
  color: #fff;
  text-align: center;
}
p {
  color: #fff;
  margin: 2rem 3rem 2rem 3rem;
}
